---

---
<nav class="navbar">
    <div class="logo">Brand</div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
    </ul>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>
<script>
    const burger = document.querySelector('.burger');
    const nav = document.querySelector('.nav-links');

    burger.addEventListener('click', () => {
        nav.classList.toggle('nav-active');
    });
</script>
<style lang="scss">
  $primary-color: #333;
  $secondary-color: #fff;
  $hover-color: #ddd;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 1rem 2rem;
    height: 3rem;

    .logo {
      color: $secondary-color;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 1.5rem;

      li {
        a {
          text-decoration: none;
          color: $secondary-color;
          transition: color 0.3s;

          &:hover {
            color: $hover-color;
          }
        }
      }
    }

    .burger {
      display: none;
      flex-direction: column;
      gap: 0.4rem;

      &:hover {
        cursor: pointer;
      }

      .line {
        width: 25px;
        height: 3px;
        background-color: $secondary-color;
      }
    }
  }

  @media (max-width: 768px) {
    .navbar {
      position: relative;

      .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 3rem;
        left: 0;
        background-color: $primary-color;
        width: 100%;
        text-align: center;
        padding: 1rem 0;

        &.nav-active {
          display: flex;
        }
      }

      .burger {
        display: flex !important;
      }
    }
  }
</style>