---
import Layout from '@layouts/Layout.astro'
---
<Layout title="about">
    <section class="m-4">
        <h1 class="text-4xl">About us</h1>
        <p class="text-2xl">We are committed to providing the best service and support for our customers. Contact us anytime!</p>
    </section>
</Layout>
